@charset "EUC-KR";
.th-user-fonesize{
				font-size:	0.8125rem;
			}
			.td-user-fontsize{
				font-size:	0.625rem;
			}
			.table>:not(caption)>*>*{
				border-bottom-width:0px;
				padding : 0px;
			}
			.card-header {
				padding: 0.2rem 1.5rem;
			}
			.card-body{
			    padding: .1rem .1rem;
			}
			.form-control.board-search{
				width:300px;
			}
			.form-control{
				width:500px;
			}			