@charset "EUC-KR";

.signbox {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

hr.one {
	height: 2px;
	width: 1000px;
	color: #6c757d;
}

h1.sign {
	padding-right: 850px;
}

.sign-info {
	margin-right:700px;
}

.content-consent {
	width: 1000px;
}

.SignAndRewrite {
	padding-left: 450px;
}

.check-consent-box {
	padding-left: 500px;
}